@{
    ViewBag.Title = "Disconnect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disconnect</h2>
 <h2>
        
        <script type="text/javascript">
           window.location = '@Url.Action("About", "Home")';
        </script>
</h2>
