<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- Constants -->
    <add key="Url_Request_Token" value="/get_request_token"/>
    <add key="Url_Access_Token" value="/get_access_token"/>
    <add key="Intuit_OAuth_BaseUrl" value="https://oauth.intuit.com/oauth/v1"/>
    <add key="Intuit_Workplace_AuthorizeUrl" value="https://workplace.intuit.com/Connect/Begin"/>
    <add key="BlueDot_AppMenuUrl" value="https://workplace.intuit.com/api/v1/Account/AppMenu"/>
    <add key="DisconnectUrl" value="https://appcenter.intuit.com/api/v1/Connection/Disconnect"/>

    <add key="oauth_callback_url" value="/OAuthHandler/OAuthHandler"/>
    <add key="menuProxy" value="MenuProxy/Index"/>
    <add key="grantUrl" value="OAuthGrant/OAuthGrant"/>
    <add key="qbo_base_url" value="https://qbo.intuit.com/qbo1/rest/user/v2/"/>

    <!--Enter the Application Name by replacing YourAppName-->
    <add key="openid_identifier" value="https://openid.intuit.com/Identity-himanshuQBO"/>
    <!--<add key="openid_identifier" value="https://openid.intuit.com/QBONimisha"/>-->
    <!--Enter Application Token Value for the specified application-->
    <add key="applicationToken" value="2ff295c9b9eeeb408fba086bbd698f82fa05"/>
    <!--Enter Consumer Key Value for the specified application-->
    <add key="consumerKey" value="qyprd7I5WvVgJZUvWDFnPoiBh1ejZn"/>
    <!--Enter Consumer Secret Value for the specified application-->
    <add key="consumerSecret" value="ad5YhXQsUTUX5HZgNUzgdz0YdfjkRcpuxdzQ4Pvh"/>
  </appSettings>
    
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="/Error.aspx" />-->
    <customErrors mode="On" defaultRedirect="/Error">
      <error redirect="~/Error/NotFound" statusCode="404"/>
      <error redirect="~/Error/InternalServerError" statusCode="500"/>
    </customErrors>
    <!--<customErrors mode="Off" />-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <!-- Custom Error Pages --><!--
    <httpErrors errorMode="Detailed" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="404" path="/Error/404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error" responseMode="ExecuteURL" />
    </httpErrors>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
